<app-layout>
  <router-outlet>
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <nb-card>
          <nb-card-header>
            <div class="text-center">
              <a href="/">
                <img src="{{appSettings.appLogo}}" class="rounded" alt="{{ appSettings.appTitle }}">
              </a>
            </div>
          </nb-card-header>
          <nb-card-header class="text-center">
            <h4 class="title">Reset password</h4>
            <small class="form-text sub-title">Please enter a new password</small>
          </nb-card-header>
          <nb-card-body>
            <form [ngClass]="{ 'form-submit': isSubmit}" (ngSubmit)="onSubmit()" name="resetPasswordForm" [formGroup]="resetPasswordForm">
              <div class="form-group">
                <label for="password">New Password</label>
                <input name="password" class="form-control" id="password" placeholder="Password" formControlName="password">
                <div class="invalid-feedback form-error" *ngIf="resetPasswordForm['controls'].password.invalid && (resetPasswordForm['controls'].password.dirty || resetPasswordForm['controls'].password.touched || isSubmit)">
                  <span *ngIf="resetPasswordForm['controls'].password.errors.required">
                    Please enter a Password.
                  </span>
                  <span *ngIf="resetPasswordForm['controls'].password.errors.maxlength">
                    Please enter a password no more than 16 characters.
                  </span>
                  <span *ngIf="resetPasswordForm['controls'].password.errors.minlength">
                    Please enter a password at least 6 characters.
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label for="password">Confirm Password</label>
                <input name="confirmPassword" class="form-control" id="confirmPassword" placeholder="Password" formControlName="confirmPassword">
                <div class="invalid-feedback form-error" *ngIf="resetPasswordForm['controls'].confirmPassword.invalid && (resetPasswordForm['controls'].confirmPassword.dirty || resetPasswordForm['controls'].confirmPassword.touched || isSubmit)">
                  <span *ngIf="resetPasswordForm['controls'].confirmPassword.errors.required">
                    Please enter a Confirm Password.
                  </span>
                  <span *ngIf="resetPasswordForm['controls'].confirmPassword.errors.maxlength">
                    Please enter a password no more than 16 characters.
                  </span>
                  <span *ngIf="resetPasswordForm['controls'].confirmPassword.errors.minlength">
                    Please enter a password at least 6 characters.
                  </span>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">
                Rest Password
              </button>
            </form>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </router-outlet>
</app-layout>