<app-layout>
  <router-outlet>
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <nb-card>
          <nb-card-header>
            <div class="text-center">
              <a href="/">
                <img src="{{appSettings.appLogo}}" class="rounded" alt="{{ appSettings.appTitle }}">
              </a>
            </div>
          </nb-card-header>
          <nb-card-header class="text-center">
          <h2  class="title">Forgot Password</h2>
           <small  class="form-text sub-title">
             Enter your email address and we’ll send a link to reset your password
           </small>
          </nb-card-header>
          <nb-card-body>
            <form *ngIf="!isSuccess; else successMessage" [ngClass]="{ 'form-submit': isSubmit}" (ngSubmit)="onSubmit()" name="forgotPasswordForm"
              [formGroup]="forgotPasswordForm">
              <div class="form-group">
                <label for="email">Email</label>
                <input name="email" type="email" class="form-control" id="email" placeholder="Email" formControlName="email">
                <div class="invalid-feedback form-error" *ngIf="forgotPasswordForm['controls'].email.invalid && (forgotPasswordForm['controls'].email.dirty || forgotPasswordForm['controls'].email.touched || isSubmit)">
                  <span *ngIf="forgotPasswordForm['controls'].email.errors.required">
                    Please select a Email.
                  </span>
                  <span *ngIf="forgotPasswordForm['controls'].email.errors.maxlength">
                    Please enter a Email no more than 250 characters.
                  </span>
                  <span *ngIf="forgotPasswordForm['controls'].email.errors.email">
                    Please enter a valid Email.
                  </span>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">
                Send Password Reset
              </button>
            </form>
            <ng-template #successMessage>
              <div class="alert alert-success" role="alert">
                {{ message }}
              </div>
              <a class="btn btn-info" routerLink="/auth/login">Log In</a>
            </ng-template>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </router-outlet>
</app-layout>