<nb-layout>
    <nb-layout-header fixed *ngIf="authenticationService.isLogin()">
      <app-header></app-header>
    </nb-layout-header>
    <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive *ngIf="authenticationService.isLogin()">
      <nb-sidebar-header *ngIf="currentTheme !== 'corporate'">
        <a href="javascript:;" class="btn btn-hero-success main-btn">
          <i class="ion ion-person"></i> <span>Client Menu</span>
        </a>
      </nb-sidebar-header>
      <ng-content select="nb-menu"></ng-content>
    </nb-sidebar>

    <nb-layout-column>
      <ng-content select="router-outlet"></ng-content>
    </nb-layout-column>

    <nb-layout-footer fixed *ngIf="authenticationService.isLogin()">
      <app-footer></app-footer>
    </nb-layout-footer>
  </nb-layout>